<!DOCTYPE html>
<html ng-app="app">
<head>
    <title>JSer.info Contributing form</title>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/ng-tags-input/ng-tags-input.js"></script>
    <script src="bower_components/marked/lib/marked.js"></script>
    <script src="bower_components/angular-marked/angular-marked.js"></script>
    <script src="app/app.js"></script>
    <link rel="stylesheet" type="text/css" href="bower_components/ng-tags-input/ng-tags-input.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="app/css/style.css">
    <link rel="stylesheet" href="app/css/jser-preview.css">
</head>
<body>
<div class="container" ng-controller="jserController">
    <div class="section-title">
        <h1><a href="https://github.com/azu/jser.info/">JSer.info</a> Contributing form</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>1. サイト情報を入力</h2>

            <p>関連サイト以外は大体必須項目となっています。</p>

            <p>説明文はMarkdown又はHTMLが利用できます。</p>

            <p>関連サイトは複数入力出来ますが、説明文を使っても問題ないです。</p>
        </div>
        <div class="col-md-4">
            <h2>2. JSONをコピーする</h2>

            <p>右側に表示されているJSON文字列をコピーしましょう。</p>

            <p>データはJSONとして追記していくため、この文字列をpull requestで追加します。</p>
        </div>
        <div class="col-md-4">
            <h2>3. Pull request</h2>

            <p><a href="https://github.com/azu/jser.info">JSer.infoリポジトリ</a>の<a
                    href="https://github.com/azu/jser.info/edit/gh-pages/data/{{today | date:'yyyy/MM'}}/index.json">{{today
                | date:'yyyy/MM'}}/index.json</a>ファイル末尾にJSON文字列を追記し、pull requestしましょう。
            </p>

            <p>
                <a href="https://github.com/azu/jser.info/edit/gh-pages/data/{{today | date:'yyyy/MM'}}/index.json"
                   class="btn btn-success"><i class="glyphicon glyphicon-edit"></i>Pull Request</a>
            </p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" ng-controller="dataFormController">
        <div class="col-md-8">
            <form role="form">
                <div class="form-group">
                    <label class="control-label" for="form-title">タイトル: </label>
                    <input type="text" required id="form-title" name="form-title" class="form-control"
                           ng-model="data.title"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="form-url">URL : </label>
                    <input type="url" required id="form-url" name="form-url" class="form-control" ng-model="data.url"/>
                </div>
                <div class="form-group">
                    <label class="control-label" for="form-content">説明(簡単に概要や要点をまとめる): </label>
                    <textarea required id="form-content" name="form-content" rows="5" class="form-control"
                              ng-model="data.content"></textarea>

                </div>
                <div class="form-group">
                    <label for="form-tags" class="control-label">タグ(カンマ,区切り): </label>
                    <tags-input id="form-tags" name="form-tags" ng-model="data.tags" custom-class="bootstrap"
                                allowed-tags-pattern="^.*$" min-length="1"></tags-input>
                </div>
                <div class="related-site-form-group">
                    <div class="form-group related-site-form" data-ng-repeat="relatedSite in data.relatedSites">
                        <div>
                            <label>タイトル</label>
                            <input type="text" class="form-control" required placeholder="関連サイトタイトル"
                                   ng-model="relatedSite.title"/>
                        </div>
                        <div>
                            <label>URL</label>
                            <input type="url" class="form-control" required placeholder="関連サイトURL"
                                   ng-model="relatedSite.url"/>
                        </div>
                    </div>
                </div>
                <button type="button" class="btn btn-primary" ng-click="addNewRelatedSite()"><i
                        class="glyphicon glyphicon-plus"></i>関連サイトを追加
                </button>
            </form>
        </div>
        <div class="col-md-4">
            <div class="jser-preview">
                <blockquote cite="{{data.url}}"
                            title="{{data.title}}">
                    <p class="jser-sitelink"><strong>{{data.title}}</strong></p>
                    <footer><cite><a href="{{data.url}}"
                                     title="{{data.title}}" target="_blank">{{data.title}}</a></cite>
                    </footer>
                </blockquote>

                <p class="jser-tags jser-tag-icon" ng-show="data.tags.length > 0"><span class="jser-tag"
                                                                                        data-ng-repeat="tag in data.tags">{{tag}}</span>
                </p>

                <div marked="markdown_render">
                </div>
                <ul ng-show="data.relatedSites.length > 0">
                    <li data-ng-repeat="relatedSite in data.relatedSites"><a href="{{relatedSite.url}}" target="_blank">{{relatedSite.title}}</a>
                    </li>
                </ul>
            </div>
            <hr/>
            <div>
                <label>
                    <textarea rows="18" cols="50">{{data|json}}</textarea>
                </label>
            </div>
        </div>
    </div>
</div>

</body>
</html>