@charset "UTF-8";
.bootstrap .tags {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  .focused {
    border-color: #66afe9;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  }

  .tag-item {
    background: #428bca;
    border: 1px solid #357ebd;
    border-radius: 4px;
    color: #fff;
  }

  .tag-item.selected {
    background: #d9534f;
    border: 1px solid #d43f3a;
    border-radius: 4px;
    color: #fff;
  }

  .tag-item button {
    background: transparent;
    color: #000;
    opacity: .4;
  }
}

.related-site-form-group {
  .related-site-form {
    padding-left: 1em;
  }
}
